<h2>Content for <%= @todo.name %></h2>

<p>
  <span><strong>Name: </strong> <%= @todo.name %></span><br>
  <span><strong>Description:</strong> <%= @todo.description %></span>
</pp>

<p>
  <%= link_to 'List All Todos', {action: :index} %>
</p>